
html body {
    height: 100%;
    margin: 0;
}

header {
    height: 50px;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(112,111,112,1);
    -moz-box-shadow: 0px 2px 3px 0px rgba(112,111,112,1);
    box-shadow: 0px 2px 3px 0px rgba(112,111,112,1);
}

header a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.596);
    font-weight: bold;
}

main {
    height: 100%;
    padding-top: 50px;
    
}

footer {
    background-color: rgb(87, 87, 87);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: blanchedalmond;
}


.sidebar {
width: 200px;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

.sidebar a {
display: block;
color: black;
padding: 16px;
text-decoration: none !important;
}

.sidebar a.active {
background-color: #4CAF50;
color: white;
}

.sidebar a:hover:not(.active) {
background-color: #555;
color: white;
}

div.content {
margin-left: 200px;
padding: 20px;
height: 100%;
overflow-x: auto;
overflow-y: hidden;
}

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {
        margin-left: 0;
        padding-left: 0;
    }
}
  
@media screen and (max-width: 400px) { 
    .sidebar a {
        text-align: center;
        float: none;
    }
}

input {
    border: 1px solid black;
}
